# Ignore python virtual environment
.venv/
banto_ner_env/
__pycache__/



*.json

# Ignore model weights and embeddings
*.bin
*.vec
*.pth

.venv/

# Data and large outputs
outputs/*/*.txt
outputs/*/*.pt
embeddings/*.txt
embeddings/*.bin


embeddings/aligned/
data/subsets/
